p{
       width: 150px;
       height: 100px;
       color: black;
       font-family: Arial, Helvetica, sans-serif;
       background-color: green;
       border-top: 2px blue dashed ;
       border-left: 2px yellow dotted;
       border-bottom: 2px red double;
       padding: 10px 10px 0 0 ;
}

div{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    overflow: visible;
    overflow: scroll;
    overflow-y: auto;
div{
    background-color: blue;
    width: 30px;
    height: 45px;
    box-shadow: 10px;
}
    
    
